changedetection-io:
  global:
    fullnameOverride: changedetection
  image:
    # -- image repository
    repository: ghcr.io/dgtlmoon/changedetection.io
    # -- image tag
    tag: "0.52.2@sha256:be32b3eea44ebb47fa60cebe135e3210c7a980db120a3b85ceebb9f4c0115494"
    # -- image pull policy
    pullPolicy: IfNotPresent

  # -- environment variables. See more environment variables in the [changedetection-io documentation](https://changedetection-io.org/docs).
  # @default -- See below
  env:
    # -- Set the container timezone
    TZ: UTC
    # WEBDRIVER_URL: http://changedetection-chrome:4444/wd/hub
    PLAYWRIGHT_DRIVER_URL: ws://sockpuppet-chrome:3000

  # -- Configures service settings for the chart.
  # @default -- See values.yaml
  service:
    main:
      ports:
        http:
          port: 5000

  ingress:
    # -- Enable and configure ingress settings for the chart under this key.
    # @default -- See values.yaml
    main:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        external-dns.alpha.kubernetes.io/target: home.terence.cloud
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
        traefik.ingress.kubernetes.io/router.tls.options: cert-manager-client-auth@kubernetescrd
        traefik.ingress.kubernetes.io/router.middlewares: traefik-modsecurity@kubernetescrd
      ingressClassName: traefik
      hosts:
        - host: cd.terence.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                port: 5000
      tls:
        - secretName: changedetection-tls
          hosts:
            - cd.terence.cloud

  # -- Configure persistence settings for the chart under this key.
  # @default -- See values.yaml
  persistence:
    data:
      enabled: true
      mountPath: /datastore
      accessMode: ReadWriteOnce
      size: 1Gi
      annotations:
        helm.sh/resource-policy: keep
        argocd.argoproj.io/sync-options: Delete=false

app-template:
  global:
    fullnameOverride: sockpuppet-chrome
  controllers:
    sockpuppet-chrome:
      containers:
        sockpuppet-chrome:
          image:
            repository: dgtlmoon/sockpuppetbrowser
            tag: 0.0.3@sha256:23a7be698216407648b6c78fc55de0411bde550635edc30347373c86a5176fad
          ports:
            - name: ws
              containerPort: 3000
          env:
            TZ: Europe/Paris
            SCREEN_WIDTH: 1920
            SCREEN_HEIGHT: 1024
            SCREEN_DEPTH: 16
            MAX_CONCURRENT_CHROME_PROCESSES: 10
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - python3 /usr/src/app/docker-health-check.py --host http://localhost
            readiness:
              enabled: true
              custom: true
              spec:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - python3 /usr/src/app/docker-health-check.py --host http://localhost

  service:
    sockpuppet-chrome:
      controller: sockpuppet-chrome
      ports:
        ws:
          port: 3000
