traefik:
  deployment:
    enabled: true
    replicas: 1
    additionalVolumes:
      - name: modsecurity-request-exclusion-rules
        configMap:
          name: modsecurity-request-exclusion-rules
      - name: ok-server-script
        configMap:
          name: ok-server-script
    initContainers:
      - name: ok-server
        image: docker.io/oven/bun:1.3-alpine@sha256:819f91180e721ba09e0e5d3eb7fb985832fd23f516e18ddad7e55aaba8100be7
        restartPolicy: Always
        command: ["bun"]
        args: ["run", "/app/index.ts"]
        env:
          - name: PORT
            value: "8082"
        volumeMounts:
          - name: ok-server-script
            mountPath: /app/index.ts
            subPath: index.ts
      - name: modsecurity
        image: docker.io/owasp/modsecurity-crs:4.20.0-apache-alpine-202511100111@sha256:bd07bd19a2f5a97ffffedeb5c7e7960c04eac212152a0cb4d134290a5767ca6f
        restartPolicy: Always
        securityContext:
          runAsUser: 100
        env:
          - name: BACKEND
            value: http://localhost:8082
          - name: ACCESSLOG
            value: /dev/null
          - name: METRICSLOG
            value: /dev/null
          - name: PORT
            value: "8081"
          - name: SSL_PORT
            value: "7443"
          - name: DETECTION_PARANOIA
            value: "1"
          - name: BLOCKING_PARANOIA
            value: "1"
          - name: ANOMALY_INBOUND
            value: "10"
          - name: ANOMALY_OUTBOUND
            value: "5"
          - name: ALLOWED_METHODS
            value: "GET HEAD POST PUT DELETE OPTIONS PROPFIND MKCOL MOVE COPY"
          - name: ALLOWED_REQUEST_CONTENT_TYPE
            value: "|application/x-www-form-urlencoded| |multipart/form-data| |multipart/related| |text/xml| |application/xml| |application/soap+xml| |application/json| |application/cloudevents+json| |application/cloudevents-batch+json| |application/octet-stream|"
          - name: MODSEC_REQ_BODY_LIMIT
            value: "1073741824"
          - name: MODSEC_REQ_BODY_NOFILES_LIMIT
            value: "1073741824"
          - name: MODSEC_RESP_BODY_LIMIT
            value: "1073741824"
        volumeMounts:
          - name: modsecurity-request-exclusion-rules
            mountPath: /etc/modsecurity.d/owasp-crs/rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf
            subPath: REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf

  experimental:
    abortOnPluginFailure: false
    fastProxy:
      enabled: false
      debug: false
    kubernetesGateway:
      enabled: false
    plugins:
      modsecurity:
        moduleName: github.com/madebymode/traefik-modsecurity-plugin
        version: v1.6.0
      geoblock:
        moduleName: github.com/PascalMinder/geoblock
        version: v0.3.3
      sablier:
        moduleName: github.com/sablierapp/sablier
        version: v1.10.1
    localPlugins: {}
    otlpLogs: false
    knative: false

  volumes: []
  # - name: '{{ printf "%s-configs" .Release.Name }}'
  #   mountPath: "/config"
  #   type: configMap

  additionalVolumeMounts: []
  # -- For instance when using a logshipper for access logs
  # - name: traefik-logs
  #   mountPath: /var/log/traefik

  ports:
    traefik:
      port: 8080
      expose:
        default: false
      exposedPort: 8080
    web:
      port: 8000
      expose:
        default: true
      exposedPort: 80
      forwardedHeaders:
        trustedIPs:
          - 192.168.1.0/24
          - 10.0.0.0/8
        insecure: false
      proxyProtocol:
        trustedIPs:
          - 192.168.1.0/24
          - 10.0.0.0/8
        insecure: false
    websecure:
      port: 8443
      expose:
        default: true
      exposedPort: 443
      allowACMEByPass: false
      http3:
        enabled: false
        advertisedPort: # @schema type:[integer, null]; minimum:0
      forwardedHeaders:
        trustedIPs:
          - 192.168.1.0/24
          - 10.0.0.0/8
        insecure: false
      proxyProtocol:
        trustedIPs:
          - 192.168.1.0/24
          - 10.0.0.0/8
        insecure: false
      tls:
        enabled: true
        options: ""
        certResolver: ""
        domains: []
      middlewares:
        - traefik-geoblock@kubernetescrd
        - traefik-secure-headers@kubernetescrd
    metrics:
      port: 9100
      expose:
        default: false
      exposedPort: 9100

  extraObjects:
    - apiVersion: v1
      kind: ConfigMap
      metadata:
        name: ok-server-script
      data:
        index.ts: |
          Bun.serve({ async fetch(req: Request) { if (req.body) { for await (const chunk of req.body); } return new Response("OK", { status: 200 }); }, maxRequestBodySize: Infinity, });
    - apiVersion: traefik.io/v1alpha1
      kind: TLSOption
      metadata:
        name: client-auth
        namespace: cert-manager
      spec:
        clientAuth:
          secretNames:
            - client-auth-ca
          clientAuthType: RequireAndVerifyClientCert
    - apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: redirect-https
        namespace: traefik
      spec:
        redirectScheme:
          scheme: https
          permanent: true
    - apiVersion: traefik.io/v1alpha1
      kind: IngressRoute
      metadata:
        name: http-catchall
        namespace: traefik
      spec:
        entryPoints:
          - web
        routes:
          - match: HostRegexp(`{host:.+}`) && !PathPrefix(`/.well-known/acme-challenge/`)
            kind: Rule
            middlewares:
              - name: redirect-https
            services:
              # Dummy service
              - name: traefik
                kind: TraefikService
    - apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: strip-first-path
        namespace: traefik
      spec:
        replacePathRegex:
          regex: "^/[^/]+(/|$)(.*)"
          replacement: "/$2"
    - apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: ip-allowlist
      spec:
        ipAllowList:
          sourceRange:
            - 10.0.0.0/8
            - 192.168.1.0/24
            - 109.0.228.97
            - 34.75.201.84
    - apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: secure-headers
        namespace: traefik
      spec:
        headers:
          browserXssFilter: true
          contentTypeNosniff: true
          customFrameOptionsValue: "SAMEORIGIN"
          forceSTSHeader: true
          frameDeny: true
          referrerPolicy: "strict-origin-when-cross-origin"
          stsIncludeSubdomains: true
          stsPreload: true
          stsSeconds: 15552000
          customResponseHeaders: # remove unnecessary headers which expose used server software
            server: ""
            x-powered-by: ""
    - apiVersion: v1
      kind: ConfigMap
      metadata:
        name: modsecurity-request-exclusion-rules
      data:
        REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf: |
          SecRule REQUEST_HEADERS:User-Agent "@rx ^kube-probe/.*$" \
            "id:1000001,phase:1,pass,nolog,ctl:ruleRemoveById=920350"
          SecRule REQUEST_HEADERS:User-Agent "@rx ^GitHub-Hookshot/.*$" \
            "id:1000002,phase:1,pass,nolog,ctl:ruleRemoveById=931130,ctl:ruleRemoveById=932281"
          SecRule REQUEST_URI "@rx ^/api/assets" \
            "id:1000003,phase:1,pass,nolog,ctl:ruleRemoveById=200004"
          SecRule REQUEST_URI "@rx ^/_api/v1/(get-missing-paths|upload-path)" \
            "id:1000004,phase:1,nolog,pass,ctl:requestBodyAccess=Off"
          SecRule REQUEST_URI "@rx ^/audio/" \
            "id:1000005,phase:1,pass,nolog,ctl:ruleEngine=Off"
          SecRule REQUEST_URI "@rx ^/videos/" \
            "id:1000006,phase:1,pass,nolog,ctl:ruleEngine=Off"
          SecRule REQUEST_URI "@rx ^/.well-known/acme-challenge/" \
            "id:1000007,phase:1,pass,nolog,ctl:ruleEngine=Off"
    - apiVersion: traefik.io/v1alpha1
      kind: Middleware
      metadata:
        name: modsecurity
      spec:
        plugin:
          modsecurity:
            modSecurityUrl: http://localhost:8081
            maxBodySize: 1000000000
            timeoutMillis: 120000
            jailEnabled: true
            jailTimeDurationSecs: 600
            badRequestsThresholdCount: 5
            badRequestsThresholdPeriodSecs: 60

  ingressClass:
    enabled: true
    isDefaultClass: true
    name: ""

  api:
    dashboard: true
    basePath: "" # @schema type:[string, null]; default: "/"

  providers: # @schema additionalProperties: false
    kubernetesCRD:
      enabled: true
      allowCrossNamespace: true
      allowExternalNameServices: true
      allowEmptyServices: true
      ingressClass: ""
      namespaces: []
      nativeLBByDefault: false

    kubernetesIngress:
      enabled: true
      allowExternalNameServices: true
      allowEmptyServices: true
      ingressClass: # @schema type:[string, null]
      namespaces: []
      publishedService:
        enabled: true
        pathOverride: ""
      nativeLBByDefault: false
      strictPrefixMatching: false

    kubernetesGateway:
      enabled: false

  global:
    checkNewVersion: false
    sendAnonymousUsage: false

  additionalArguments: []
  env: []
  envFrom: []

  tlsOptions: {}
  tlsStore: {}

  service:
    enabled: true
    single: true
    type: LoadBalancer
    spec:
      loadBalancerIP: "192.168.1.241"
      externalTrafficPolicy: Local

  logs:
    access:
      enabled: true
