apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: applications
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - list:
        elements:
          - name: anki-sync-server
          - name: argocd
            serverSideApply: true
          - name: arr-stack
            scaleToZero: true
          - name: attic
          - name: blackbox-exporter
            namespace: monitoring
          - name: calibre-web
            scaleToZero: true
          - name: cert-manager
          - name: changedetection
          - name: cloudnative-pg
            namespace: cnpg-system
            serverSideApply: true
          - name: convertx
            scaleToZero: true
          - name: external-dns
          - name: external-secrets
            serverSideApply: true
          - name: gitea
          - name: go-healthcheck
          - name: home-assistant
          - name: httpbin
            scaleToZero: true
          - name: immich
          - name: it-tools
            scaleToZero: true
          - name: kube-prometheus-stack
            namespace: monitoring
            serverSideApply: true
            scaleToZero: true
          - name: loki
          - name: longhorn
            namespace: longhorn-system
            serverSideApply: true
            serverSideDiff: true
          - name: metallb
          - name: microbin
            scaleToZero: true
          - name: mosquitto
          - name: nextcloud
            serverSideApply: true
          - name: opencloud
          - name: opentelemetry-collector
          - name: opentelemetry-operator
          - name: paperless-ngx
          - name: pocket-id
            serverSideApply: true
            serverSideDiff: true
          - name: reloader
          - name: sablier
          - name: scrobble-deduplicator
          - name: snapshot-controller
          - name: tailscale-operator
          - name: traefik
          - name: vaultwarden
          - name: velero
          - name: versity-gw
          - name: zigbee2mqtt

  template:
    metadata:
      name: "{{ .name }}"
      annotations:
        argocd.argoproj.io/manifest-generate-paths: "."
        notifications.argoproj.io/subscribe.on-sync-succeeded.telegram: "-1001726711150"
        argocd.argoproj.io/compare-options: '{{ printf "%s=%s" "ServerSideDiff" (dig "serverSideDiff" "false" . | toString) }}'
    spec:
      project: default
      source:
        repoURL: git@github.com:cterence/homelab-gitops.git
        targetRevision: HEAD
        path: "k8s-apps/{{ .name }}"
      destination:
        name: in-cluster
        namespace: '{{ default .name (dig "namespace" "" .) }}'
      ignoreDifferences:
        - group: apiextensions.k8s.io
          kind: CustomResourceDefinition
          jqPathExpressions:
            - .spec.conversion.webhook.clientConfig.caBundle
        - group: apps
          kind: "StatefulSet"
          jqPathExpressions:
            - .spec.volumeClaimTemplates[].metadata.creationTimestamp
        - group: apps
          kind: "*"
          jqPathExpressions:
            - '{{ ternary ".spec.replicas" ".nonexistent" (eq (dig "scaleToZero" "false" . | toString) "true") }}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - RespectIgnoreDifferences=true
          - '{{ printf "%s=%s" "ServerSideApply" (dig "serverSideApply" "false" . | toString) }}'
