apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-cli-ingress
  annotations:
    external-dns.alpha.kubernetes.io/target: home.terence.cloud
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false" # 403 on the github actions runner
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/whitelist-source-range: "0.0.0.0/0"
spec:
  ingressClassName: traefik
  rules:
    - host: argocd.terence.cloud
      http:
        paths:
          - backend:
              service:
                name: argocd-server
                port:
                  name: http
            path: /application.ApplicationService/(Get|List|ManagedResources)
            pathType: ImplementationSpecific
          - backend:
              service:
                name: argocd-server
                port:
                  name: http
            path: /session.SessionService/Create
            pathType: ImplementationSpecific
          - backend:
              service:
                name: argocd-server
                port:
                  name: http
            path: /cluster.SettingsService/Get
            pathType: ImplementationSpecific
          - backend:
              service:
                name: argocd-server
                port:
                  name: http
            path: /cluster.ClusterService/Get
            pathType: ImplementationSpecific
          - backend:
              service:
                name: argocd-server
                port:
                  name: http
            path: /project.ProjectService/GetDetailedProject
            pathType: ImplementationSpecific
