# https://github.com/truecharts/public/blob/master/charts/library/common/values.yaml
mosquitto:
  image:
    repository: eclipse-mosquitto
    tag: 2.0.22@sha256:90898877b5bbb95d7fa85c8835d264b12247133b18dea5b4379feb1d97f9ce8b
    pullPolicy: IfNotPresent
  service:
    main:
      ports:
        main:
          port: 1883
          targetPort: 1883
    websockets:
      enabled: true
      ports:
        websockets:
          enabled: true
          port: 9001
          targetPort: 9001
  workload:
    main:
      podSpec:
        containers:
          main:
            probes:
              liveness:
                enabled: true
                type: tcp
                port: 1883
              readiness:
                enabled: true
                type: tcp
                port: 1883
              startup:
                enabled: true
                type: tcp
                port: 1883
  ingress:
    websockets:
      enabled: false
      targetSelector:
        websockets: websockets
  auth:
    # -- By enabling this, `allow_anonymous` gets set to `false` in the mosquitto config.
    enabled: false
  websockets:
    # -- By enabling this, an additional listener with protocol websockets is added in the mosquitto config.
    enabled: false
  configmap:
    config:
      enabled: true
      data:
        mosquitto.conf: |
          listener {{ .Values.service.main.ports.main.targetPort }}
          {{- if .Values.websockets.enabled }}
          listener {{ .Values.service.websockets.ports.websockets.targetPort }}
          protocol websockets
          {{- end }}
          {{- if .Values.auth.enabled }}
          allow_anonymous false
          {{- else }}
          allow_anonymous true
          {{- end }}
          {{- if .Values.persistence.data.enabled }}
          persistence true
          persistence_location {{ .Values.persistence.data.mountPath }}
          autosave_interval 1800
          {{- end }}
          {{- if .Values.persistence.configinc.enabled }}
          include_dir {{ .Values.persistence.configinc.mountPath }}
          {{- end }}
  persistence:
    data:
      enabled: true
      mountPath: "/mosquitto/data"
      size: 1Gi
      annotations:
        helm.sh/resource-policy: keep
        argocd.argoproj.io/sync-options: Delete=false
    configinc:
      enabled: true
      mountPath: "/mosquitto/configinc"
      size: 10Mi
      annotations:
        helm.sh/resource-policy: keep
        argocd.argoproj.io/sync-options: Delete=false
    mosquitto-config:
      enabled: true
      mountPath: "/mosquitto/config/mosquitto.conf"
      subPath: "mosquitto.conf"
      type: configmap
      objectName: config
  portal:
    open:
      enabled: false
  TZ: Europe/Paris
