# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-3.4.0/charts/library/common/values.schema.json
# Removing Cloudflare caching was necessary, else any actions got me logged out : https://github.com/janeczku/calibre-web/issues/1466#issuecomment-1199885344
# Configure options applied to all pods
app-template:
  # defaultPodOptions:
  #   automountServiceAccountToken: false
  #   securityContext:
  #     runAsUser: 568
  #     runAsGroup: 568
  #     fsGroup: 568
  #     fsGroupChangePolicy: "OnRootMismatch"

  controllers:
    # Configure the main controller
    main:
      type: deployment
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: crocodilestick/calibre-web-automated
            tag: v2.0.1
          env:
            TZ: Europe/Paris
            DOCKER_MODS: "lscr.io/linuxserver/mods:universal-calibre-v7.16.0"
            LOG_LEVEL: DEBUG
          ports:
            - name: http
              containerPort: 8083
          probes:
            liveness:
              enabled: true
              type: HTTP
            readiness:
              enabled: true
              type: HTTP
            startup:
              enabled: true
              type: HTTP
              spec:
                failureThreshold: 15
    book-downloader:
      type: deployment
      annotations:
        reloader.stakater.com/auto: "true"
      pod:
        affinity:
          podAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - calibre-web
                topologyKey: kubernetes.io/hostname
      containers:
        main:
          image:
            repository: ghcr.io/calibrain/calibre-web-automated-book-downloader
            tag: latest@sha256:29757639bff2263a0de383e6b4855b09457e6c5944f41e934247bbb9bec5c8b7
          env:
            TZ: Europe/Paris
            FLASK_PORT: 8084
            FLASK_DEBUG: false
            CLOUDFLARE_PROXY_URL: http://localhost:8000
            INGEST_DIR: /cwa-book-ingest
            BOOK_LANGUAGE: en,fr
          ports:
            - name: http
              containerPort: 8084
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  port: http
                  path: /request/api/status
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  port: http
                  path: /request/api/status
        cloudflare-bypass:
          image:
            repository: ghcr.io/sarperavci/cloudflarebypassforscraping
            tag: latest@sha256:c405d9728c3a2729fb8e251d38239b35dc8767dc7bcbe0b06ce46bfaa288fbcc
          env:
            TZ: Europe/Paris
          ports:
            - name: http
              containerPort: 8000
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: http
            readiness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: http

  service:
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: 8083
    book-downloader:
      controller: book-downloader
      type: ClusterIP
      ports:
        http:
          port: 8084

  ingress:
    main:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        external-dns.alpha.kubernetes.io/target: home.terence.cloud
        # external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
        nginx.ingress.kubernetes.io/proxy-body-size: 100m
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Calibre"
        gethomepage.dev/description: "A book library manager."
        gethomepage.dev/group: "Media"
        gethomepage.dev/icon: "calibre"
        # nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        # nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
        # nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-User
      className: "nginx"
      hosts:
        - host: &host calibre.terence.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: calibre-tls
          hosts:
            - *host
    book-downloader:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        external-dns.alpha.kubernetes.io/target: home.terence.cloud
        nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
        nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-User
      className: "nginx"
      hosts:
        - host: &host calibredl.terence.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: book-downloader
                port: http
      tls:
        - secretName: calibredl-tls
          hosts:
            - *host

  persistence:
    # Configure the main configuration storage location
    config:
      enabled: true
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 50Mi
      globalMounts:
        - path: /config
    calibre-library:
      enabled: true
      size: 10Gi
      accessMode: ReadWriteOnce
      type: persistentVolumeClaim
      globalMounts:
        - path: /calibre-library
    cwa-book-ingest:
      enabled: true
      size: 10Gi
      accessMode: ReadWriteOnce
      type: persistentVolumeClaim
      globalMounts:
        - path: /cwa-book-ingest
