ingress-nginx:
  controller:
    replicaCount: 1
    service:
      # Forces MetalLB to set this IP
      type: LoadBalancer
      loadBalancerIP: "192.168.1.240"

    allowSnippetAnnotations: "true"

    config:
      proxy-body-size: "512k"
      proxy-buffer-size: "512k"
      global-allowed-response-headers: "Request-Id"
      plugins: "crowdsec"
      lua-shared-dicts: "crowdsec_cache: 50m"
      use-proxy-protocol: "false"
      use-forwarded-headers: "true"
      enable-real-ip: "true"
      annotations-risk-level: "Critical"
      allow-snippet-annotations: "true"
      whitelist-source-range: "192.168.1.0/24,10.244.0.0/16,109.0.228.97/32,34.68.56.138/32"

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    extraEnvs:
      - name: OC_AGENT_HOST
        value: collector.linkerd-jaeger:55678

    extraInitContainers:
      - name: init-clone-crowdsec-bouncer
        image: crowdsecurity/lua-bouncer-plugin@sha256:90f5c611bebbbe89b8aef3218dad1df3bd9fbe51554024384b56026c69c55925
        imagePullPolicy: IfNotPresent
        env:
          - name: API_URL
            value: "http://crowdsec-service.crowdsec.svc.cluster.local:8080"
          - name: BOUNCER_CONFIG
            value: "/crowdsec/crowdsec-bouncer.conf"
        envFrom:
          - secretRef:
              name: crowdsec-credentials
        command:
          [
            "sh",
            "-c",
            "sh /docker_start.sh; mkdir -p /lua_plugins/crowdsec/; cp -R /crowdsec/* /lua_plugins/crowdsec/",
          ]
        volumeMounts:
          - name: crowdsec-bouncer-plugin
            mountPath: /lua_plugins
    extraVolumeMounts:
      - name: crowdsec-bouncer-plugin
        mountPath: /etc/nginx/lua/plugins/crowdsec
        subPath: crowdsec
    extraVolumes:
      - name: crowdsec-bouncer-plugin
        emptyDir: {}

    topologySpreadConstraints:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: '{{ include "ingress-nginx.name" . }}'
            app.kubernetes.io/instance: "{{ .Release.Name }}"
            app.kubernetes.io/component: controller
        matchLabelKeys:
          - pod-template-hash
        topologyKey: kubernetes.io/hostname
        maxSkew: 1
        whenUnsatisfiable: ScheduleAnyway
  ingress:
    options:
      allow-snippet-annotations: "true"
