ingress-nginx:
  controller:
    replicaCount: 1
    service:
      # Forces MetalLB to set this IP
      type: LoadBalancer
      loadBalancerIP: "192.168.1.240"

    allowSnippetAnnotations: true

    config:
      proxy-body-size: "512k"
      proxy-buffer-size: "512k"
      global-allowed-response-headers: "Request-Id"
      plugins: "crowdsec"
      lua-shared-dicts: "crowdsec_cache: 50m"
      use-proxy-protocol: "false"
      use-forwarded-headers: "true"
      enable-real-ip: "true"
      annotations-risk-level: "Critical"

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    extraEnvs:
      - name: OC_AGENT_HOST
        value: collector.linkerd-jaeger:55678

    # Deploy on more powerful node homelab2
    nodeSelector:
      kubernetes.io/hostname: homelab2

    extraInitContainers:
      - name: init-clone-crowdsec-bouncer
        image: crowdsecurity/lua-bouncer-plugin
        imagePullPolicy: IfNotPresent
        env:
          - name: API_URL
            value: "http://crowdsec-service.crowdsec.svc.cluster.local:8080"
          - name: BOUNCER_CONFIG
            value: "/crowdsec/crowdsec-bouncer.conf"
        envFrom:
          - secretRef:
              name: crowdsec-credentials
        command:
          [
            "sh",
            "-c",
            "sh /docker_start.sh; mkdir -p /lua_plugins/crowdsec/; cp -R /crowdsec/* /lua_plugins/crowdsec/",
          ]
        volumeMounts:
          - name: crowdsec-bouncer-plugin
            mountPath: /lua_plugins
    extraVolumeMounts:
      - name: crowdsec-bouncer-plugin
        mountPath: /etc/nginx/lua/plugins/crowdsec
        subPath: crowdsec
    extraVolumes:
      - name: crowdsec-bouncer-plugin
        emptyDir: {}

  ingress:
    options:
      allow-snippet-annotations: "true"

  tcp: {}
