# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
app-template:
  controllers:
    main:
      type: deployment
      containers:
        main:
          image:
            repository: mendhak/http-https-echo
            tag: 38@sha256:c73e039e883944a38e37eaba829eb9a67641cd03eff868827683951feceef96e
          ports:
            - name: http
              containerPort: 8080
          probes:
            liveness:
              enabled: true
              type: HTTP
            readiness:
              enabled: true
              type: HTTP

  service:
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: 8080

  ingress:
    private:
      enabled: true
      className: "traefik"
      annotations:
        external-dns.alpha.kubernetes.io/target: home.terence.cloud
        cert-manager.io/cluster-issuer: letsencrypt
        traefik.ingress.kubernetes.io/router.tls.options: cert-manager-client-auth@kubernetescrd
      hosts:
        - host: phttpbin.terence.cloud
          paths:
            - path: /
              pathType: ImplementationSpecific
              service:
                identifier: main
                port: http
      tls:
        - secretName: phttpbin-tls
          hosts:
            - phttpbin.terence.cloud

    public:
      enabled: true
      className: "traefik"
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        external-dns.alpha.kubernetes.io/target: home.terence.cloud
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
        traefik.ingress.kubernetes.io/router.tls.options: cert-manager-client-auth@kubernetescrd
      hosts:
        - host: httpbin.terence.cloud
          paths:
            - path: /
              pathType: ImplementationSpecific
              service:
                identifier: main
                port: http
      tls:
        - secretName: httpbin-tls
          hosts:
            - httpbin.terence.cloud
