# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
app-template:
  defaultPodOptions:
    automountServiceAccountToken: false

  controllers:
    # Configure the main controller
    main:
      type: deployment
      annotations:
        reloader.stakater.com/auto: "true"

      containers:
        # Configure the main application container
        main:
          image:
            repository: ghcr.io/sharevb/it-tools
            tag: 2025.10.19@sha256:be0780e34ee8851819c5dc62d7247efc27e038d07f122db7f01417ff03c5e67a
          env:
            TZ: Europe/Paris
          ports:
            - name: http
              containerPort: 8080
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  port: 8080
                  path: /
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  port: 8080
                  path: /
  service:
    # Configure a service for the main application
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: 8080
          targetPort: 8080

  ingress:
    # Configure an Ingress for the main application
    main:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        external-dns.alpha.kubernetes.io/target: home.terence.cloud
      className: "traefik"
      hosts:
        - host: &host tools.terence.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: tools-tls
          hosts:
            - *host
