oauth2-proxy:
  proxyVarsAsSecrets: true
  config:
    # existingSecret: google-oauth2-credentials
    # Configuring email_domains as an empty array acts as a deny all
    configFile: |-
      email_domains = ["*"]

  # extraArgs:
  # For ingress-nginx
  # set-xauthrequest: true

  # Gitlab
  # provider: gitlab
  # oidc-issuer-url: https://gitlab.com

  # Google
  # provider: google

  # Nextcloud
  # provider: nextcloud
  # login-url: https://next.terence.cloud/index.php/apps/oauth2/authorize
  # redeem-url: https://next.terence.cloud/index.php/apps/oauth2/api/v1/token
  # validate-url: https://next.terence.cloud/ocs/v2.php/cloud/user?format=json

  # authenticatedEmailsFile:
  #   enabled: false
  #   # Restrict access to specific email addresses
  #   restricted_access: |-
  #     terence.chateigne@posteo.net
  #     terence.chateigne@gmail.com

  alphaConfig:
    enabled: true
    configData:
      providers:
        # - id: google
        #   name: Google
        #   clientId: 602698434371-n8g8cpp5faibnn7ldet4q09j176umpnb.apps.googleusercontent.com
        #   clientSecretFile: /mnt/google/clientSecret
        #   provider: google
        #   code_challenge_method: S256
        #   scope: "openid email"
        #   oidcConfig:
        #     issuerURL: https://accounts.google.com
        - id: pocket-id
          name: Pocket ID
          clientId: 7ed26165-7184-4330-b958-2e2b265de021
          clientSecretFile: /mnt/pocket-id/clientSecret
          provider: oidc
          scope: "openid email profile groups"
          oidcConfig:
            issuerURL: https://auth.terence.cloud
            audienceClaims: ["aud"]
            emailClaim: email
            insecureAllowUnverifiedEmail: true
        # - id: gitlab
        #   name: Gitlab
        #   clientId: 83a36c7adbff7e7ad71b81ee9a605042ecd254b57abc679a6747e53243c8a7f9
        #   clientSecretFile: /mnt/gitlab/clientSecret
        #   provider: gitlab
        #   code_challenge_method: S256
        #   scope: "openid email"
        #   gitlabConfig:
        #     group:
        #       - terencec_homelab
        #   oidcConfig:
        #     issuerURL: https://gitlab.com
        #     audienceClaims: ["aud"]
      injectResponseHeaders:
        - name: X-Auth-Request-Email
          values:
            - claim: email
        - name: X-Auth-Request-User
          values:
            - claim: preferred_username

  ingress:
    enabled: false
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      external-dns.alpha.kubernetes.io/target: home.terence.cloud
      nginx.ingress.kubernetes.io/whitelist-source-range: "0.0.0.0/0"
    className: traefik
    path: /oauth2
    pathType: Prefix
    # Every host that needs oauth authentication
    hosts:
      - alertmanager.terence.cloud
      - argocd.terence.cloud
      - calibre.terence.cloud
      - calibredl.terence.cloud
      - cd.terence.cloud
      - fbq.terence.cloud
      - grafana.terence.cloud
      - headscale.terence.cloud
      - phttpbin.terence.cloud
      - jl.terence.cloud
      - komoplane.terence.cloud
      - lid.terence.cloud
      - longhorn.terence.cloud
      - np.terence.cloud
      - ntfy.terence.cloud
      - pihole.terence.cloud
      - prometheus.terence.cloud
      - prow.terence.cloud
      - rad.terence.cloud
      - son.terence.cloud
      - tailout.terence.cloud
      - z2m.terence.cloud

  metrics:
    enabled: true
    servicemonitor:
      enabled: true

  extraVolumes:
    - name: gitlab-client-secret
      secret:
        secretName: gitlab-oauth2-credentials
        items:
          - key: client-secret
            path: clientSecret
    - name: pocket-id-auth2-credentials
      secret:
        secretName: pocket-id-oauth2-credentials
        items:
          - key: client-secret
            path: clientSecret
          - key: cookie-secret
            path: cookieSecret
  extraVolumeMounts:
    - name: gitlab-client-secret
      mountPath: /mnt/gitlab
    - name: pocket-id-auth2-credentials
      mountPath: /mnt/pocket-id
