longhorn:
  preUpgradeChecker:
    jobEnabled: false

  csi:
    attacherReplicaCount: 2
    provisionerReplicaCount: 2
    resizerReplicaCount: 2
    snapshotterReplicaCount: 2

  persistence:
    defaultClass: true
    defaultClassReplicaCount: 2
    defaultFsType: ext4
    reclaimPolicy: Retain

  defaultSettings:
    defaultReplicaCount: 2
    backupTarget: s3://longhorn-backup-tch@eu-central-003/v1/
    backupTargetCredentialSecret: backup-credentials
    storageMinimalAvailablePercentage: "10"
    storageReservedPercentageForDefaultDisk: "10"
    removeSnapshotsDuringFilesystemTrim: enabled
    autoCleanupSystemGeneratedSnapshot: true
    autoCleanupRecurringJobBackupSnapshot: true
    autoCleanupSnapshotWhenDeleteBackup: true
    orphanAutoDeletion: true
  ingress:
    enabled: true
    ingressClassName: nginx
    host: longhorn.terence.cloud
    tls: true
    tlsSecret: longhorn-tls
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      external-dns.alpha.kubernetes.io/target: home.terence.cloud
      nginx.ingress.kubernetes.io/auth-url: https://$host/oauth2/auth
      nginx.ingress.kubernetes.io/auth-signin: https://$host/oauth2/start?rd=$escaped_request_uri
