longhorn:
  # image:
  #   longhorn:
  #     manager:
  #       tag: v1.9.0-hotfix-1 # https://longhorn.io/docs/1.9.0/important-notes/#warning

  preUpgradeChecker:
    jobEnabled: false
    upgradeVersionCheck: false

  csi:
    attacherReplicaCount: 2
    provisionerReplicaCount: 2
    resizerReplicaCount: 2
    snapshotterReplicaCount: 2

  persistence:
    defaultClass: true
    defaultClassReplicaCount: 2
    defaultFsType: ext4
    reclaimPolicy: Retain

  defaultSettings:
    defaultReplicaCount: "2"
    backupTarget: s3://longhorn-backup-tch@eu-central-003/v1/
    backupTargetCredentialSecret: backup-credentials
    storageMinimalAvailablePercentage: "10"
    storageReservedPercentageForDefaultDisk: "10"
    removeSnapshotsDuringFilesystemTrim: enabled
    autoCleanupSystemGeneratedSnapshot: "true"
    autoCleanupRecurringJobBackupSnapshot: "true"
    autoCleanupSnapshotWhenDeleteBackup: "true"
    storageOverProvisioningPercentage: "200"
    orphanAutoDeletion: "true"
    concurrentAutomaticEngineUpgradePerNodeLimit: "5"
  ingress:
    enabled: true
    ingressClassName: traefik
    host: longhorn.terence.cloud
    tls: true
    tlsSecret: longhorn-tls
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      external-dns.alpha.kubernetes.io/target: home.terence.cloud
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      nginx.ingress.kubernetes.io/whitelist-source-range: "0.0.0.0/0"
      nginx.ingress.kubernetes.io/auth-tls-verify-client: "on"
      nginx.ingress.kubernetes.io/auth-tls-secret: "longhorn-system/client-auth-ca"
      nginx.ingress.kubernetes.io/auth-tls-verify-depth: "1"
  metrics:
    serviceMonitor:
      enabled: true
