urls:
  - http://arr-stack-flaresolverr.arr-stack:8191/health
  - https://alertmanager.terence.cloud/-/healthy
  - https://argocd.terence.cloud/healthz?full=true
  - https://attic.terence.cloud
  - https://auth.terence.cloud/healthz
  - https://baz.terence.cloud/system/ping
  - https://bw.terence.cloud/alive
  - https://cwd.terence.cloud/health
  - https://ha.terence.cloud
  - https://immich.terence.cloud/api/server/ping
  - https://jf.terence.cloud/health
  - https://jstat.terence.cloud/auth/isconfigured
  - https://git.terence.cloud/api/healthz
  - https://gitm.terence.cloud/api/health
  - https://lid.terence.cloud/ping
  - https://longhorn.terence.cloud
  - https://next.terence.cloud/status.php
  - https://oc.terence.cloud/status
  - https://paperless.terence.cloud/accounts/login/?next=/
  - https://prometheus.terence.cloud/-/healthy
  - https://qb.terence.cloud
  - https://rad.terence.cloud/ping
  - https://slskd.terence.cloud/health
  - https://son.terence.cloud/ping
  # - https://tools.terence.cloud
  - https://versity.terence.cloud/health
  - https://z2m.terence.cloud

cnpgClusters:
  - name: attic-cnpg-cluster
    namespace: attic
  - name: arr-stack-cnpg-cluster-jellystat
    namespace: arr-stack
  - name: gitea-cnpg-cluster
    namespace: gitea
  - name: home-assistant-cnpg-cluster
    namespace: home-assistant
  - name: immich-cnpg-cluster-vectorchord
    namespace: immich
  - name: nextcloud-cnpg-cluster
    namespace: nextcloud
  - name: paperless-ngx-cnpg-cluster
    namespace: paperless-ngx
  - name: pocket-id-cnpg-cluster
    namespace: pocket-id
  - name: vaultwarden-cnpg-cluster
    namespace: vaultwarden

# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
app-template:
  defaultPodOptions:
    automountServiceAccountToken: false
    securityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"

  controllers:
    main:
      strategy: RollingUpdate
      type: deployment
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: ghcr.io/cterence/go-healthcheck
            tag: latest@sha256:09a9aabde44e8d9ff51327e394c8510875bc18c6f2f973ec38c662f64e7804f0
            pullPolicy: Always
          env:
            TZ: Europe/Paris
          ports:
            - name: http
              containerPort: 3000
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  port: http
                  path: /health
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  port: http
                  path: /health
  service:
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: 3000

  ingress:
    main:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        external-dns.alpha.kubernetes.io/target: home.terence.cloud
        traefik.ingress.kubernetes.io/router.middlewares: traefik-ip-allowlist@kubernetescrd,traefik-modsecurity@kubernetescrd
      hosts:
        - host: &host health.terence.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: health-tls
          hosts:
            - *host

  persistence:
    config:
      type: secret
      name: go-healthcheck-config
      advancedMounts:
        main:
          main:
            - path: /app/config.yaml
              readOnly: true
              subPath: config.yaml
    client-auth-cert:
      type: secret
      name: client-auth-cert
      advancedMounts:
        main:
          main:
            - path: /etc/ssl/private/tls.crt
              readOnly: true
              subPath: tls.crt
            - path: /etc/ssl/private/tls.key
              readOnly: true
              subPath: tls.key
