name: Update deployed apps table

on:
  push:
    paths:
      - argocd-apps/applicationset.yaml
      - k8s-apps/**
  workflow_dispatch:

jobs:
  update-deployed-apps-table:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Filter paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            argocd-apps:
              - 'argocd-apps/**'
            k8s-apps:
              - deleted: 'k8s-apps/**'
      - name: Update deployed apps table
        if: steps.filter.outputs.argocd-apps == 'true' || steps.filter.outputs.k8s-apps == 'true' || github.event_name == 'workflow_dispatch'
        run: ./scripts/update-deployed-apps.sh
      - name: Commit changes
        if: steps.filter.outputs.argocd-apps == 'true' || steps.filter.outputs.k8s-apps == 'true' || github.event_name == 'workflow_dispatch'
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          default_author: github_actions
          message: "docs: [ci] updated deployed apps table"
          add: "README.md"
