# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/library/common/values.schema.json
app-template:
  defaultPodOptions:
    automountServiceAccountToken: false
    securityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"

  controllers:
    main:
      type: deployment
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
      containers:
        main:
          image:
            repository: _image_
            tag: _tag_
          env:
            TZ: Europe/Paris
          ports:
            - name: http
              containerPort: _port_
          probes:
            liveness:
              enabled: true
              type: HTTP
            readiness:
              enabled: true
              type: HTTP

  service:
    main:
      controller: main
      type: ClusterIP
      ports:
        http:
          port: _port_

  ingress:
    main:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        external-dns.alpha.kubernetes.io/target: home.terence.cloud
        # traefik.ingress.kubernetes.io/router.tls.options: cert-manager-client-auth@kubernetescrd
        # external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
      className: "traefik"
      hosts:
        - host: &host _subdomain_.terence.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
                port: http
      tls:
        - secretName: _subdomain_-tls
          hosts:
            - *host

  # persistence:
  #   config:
  #     enabled: true
  #     type: persistentVolumeClaim
  #     accessMode: ReadWriteOnce
  #     size: 50Mi
  #     annotations:
  #       helm.sh/resource-policy: keep
  #       argocd.argoproj.io/sync-options: Delete=false
  #     globalMounts:
  #       - path: /config
